.container {
    padding: 5%
}

form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.5px solid grey;
    padding: 10px;
    box-shadow: 0.1px 0.1px 0.5px 0.1px grey;
    border-radius: 5px;
}

mat-form-field {
    width:100% !important;        
}
/* .image-align {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
} */
.preview {
    max-width: 50%;
    margin-right:0.1rem;
    margin-bottom: 0.2rem;
  }
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    cursor: pointer;
    display: inline-block;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

