.container {
    padding: 5%;
    background-image: url('../../assets/images/registration-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.5px solid grey;
    padding: 10px;
    box-shadow:0.1px 0.1px 5.5px 3.1px rgb(0 0 0 / 54%);
    border-radius: 5px;
}

mat-form-field {
    width:100% !important;        
}

.preview {
    max-width: 50%;
    margin-right:0.1rem;
    margin-bottom: 0.2rem;
  }
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    cursor: pointer;
    display: inline-block;
}
.uploading-form {
    font-size: 1rem; 
    color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick:hover {
    outline: blue !important;
}
.signup-form {
    text-align: center;
    color: rgb(0 0 0 / 54%);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: darkgrey !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: darkslategrey;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translate(0em,-1.65em) scale(0.8);
    width: 100%;
    color: darkblue;
    font-size: 1rem;
}
.mat-form-field-appearance-outline .mat-form-field-outline{
    color: cornflowerblue
}

@media only screen and (max-width: 600px) {
    .container {
        background-position: top;
    }
  }